@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app, .three {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

body, #app {
  height: 100vh;
}